@import url("style/header.css");
:root{
        --cor-de-fundo: #ffffff;
    }

body {
    background-color: var(--cor-de-fundo);
    background-repeat: no-repeat ;
    background-position: center;
}

.cabeçalho {”../img/Menu.svg”;x;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: lem;
}